.navbar{
    width: 100%;
    position: relative; 
    top: 0;
    background-color: #FFDE59;
}
.logo img{
    size: 10%;
    float: left;
	
}
ul{
    display: inline-block;
    list-style-type: none;
}
#navline li{
    float: right;
    margin-left: 20px;
	padding-bottom: 10px;
}